---
title: Enrique Urbina
---
<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
              <img src="img/profile.gif" alt="avatar">
            </div>
            <div id="text-header">
              <h1>Hello,<br> my name is <span>Enrique Urbina</span><sup>23yo</sup> and this is my RESUME/CV</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-7">
          <!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>I'm a Web Developer.</p>
            <p>Officially, my job is to design, code and modify websites, from layout to function according to a client's specifications.
            But really? I create digital art! With a few lines of code I get to help people promote themselves and what they do, help businesses grow and share with the world their services.
            I'm obsessed with learning new technologies and surrounding myself with the culture and passion that is the web development field.</p>
          </div>
                 {% include education.html %}
                 
                 {% include experiences.html %}
         
        <div class="col-xs-12 col-sm-5">
            
                 {% include contact.html %}
                 
                 {% include skills.html %}
                  
                 
                 {% include hobbies.html %}
                 
                 {% include blog.html %}
         
        </div>
      </div>
    </div>
                 {% include footer.html %}
  </body>
</html>
