<!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact Me</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">830 387 0648</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">btace1347@yahoo.com</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://twitter.com/UrbinaAce" target="_blank"><span class="fa fa-twitter fa-fw"></span></a></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right">https://twitter.com/UrbinaAce</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://www.instagram.com/enrique.io/" target="_blank"><span class="fa fa-instagram fa-fw"></span></a></div>
              <div class="title pull-right">Instagram</div>
              <div class="description pull-right">https://www.instagram.com/enrique.io/</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://github.com/Btace13" target="_blank"><span class="fa fa-github fa-fw"></span></a></div>
              <div class="title pull-right">Github</div>
              <div class="description pull-right">https://github.com/Btace13</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="https://codetrace.io/users/Btace13" target="_blank"><span class="fa fa-code fa-fw"></span></a></div>
              <div class="title pull-right">Code Trace</div>
              <div class="description pull-right">https://codetrace.io/users/Btace13</div>
            </div> 
            <div class="contact-item">
              <div class="icon pull-left text-center"><a href="http://enrique-urbina.com" target="_blank"><span class="fa fa-user-o fa-fw"></span></a></div>
              <div class="title pull-right">Freelance Site</div>
              <div class="description pull-right">http://enrique-urbina.com</div>
            </div>  
          </div>
