 <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2013</div>
                <div class="description pull-right">
                  <h3>Graduated high school</h3>
                  <p>What a great day.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2014</div>
                <div class="description pull-right">
                  <h3>Became the manager of a Pizza Hut</h3>
                  <p>As a manager of a Pizza Hut I have learned about delegating responsibilities, paying attention to small details, and most importantly; time management.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2016</div>
                <div class="description pull-right">
                  <h3>Attended Austin Coding Academy</h3>
                  <p>In this class I learned how the internet works and built my own web pages. I dove into HTML and CSS, and by the end of the class I was proficient in responsive web design. I created my own web pages that looked good on desktops, tablets, and mobile phones and now capable of building professional quality websites.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2016</div>
                <div class="description pull-right">
                  <h3>Attended San Antonio Coding Academy</h3>
                  <p>In this class I dove into the world of object oriented programming. I made a new app every week and learned how to build and maintain the technology that powers modern day applications.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2017</div>
                <div class="description pull-right">
                  <h3>The job hunt and freelance work begins!</h3>
                  <p>Now that i am capable of building fully responsive and professional looking websites like the one you see now. I'm continuing to take on freelance work to gain experience and to build a great portfolio. I'm currently looking for employment as a web developer at a professional level. Very excited for what's to come in the future.</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2017</div>
                <div class="description pull-right">
                  <h3>Front-End Developer</h3>
                  <p>I became the Front-End Developer at a startup company. The job was a contract job but i learned so much and became a stronger programmer. There we worked in ReactJS, turning my HTML mock ups into a working web app.</p>
                </div>
              </li>
            </ul>
          </div>
