		   <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experience</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="https://btace13.github.io/intro-workbook/10LessonTen/Checkpoint2/" target="_blank">Starfish Coffee House</a></div>
                <div class="year">2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">My First Web Design Project</div>
                <div class="description">While I was attending the Austin Coding Academy, towards the end of the course we were given a project to create a site for a fake business. During this project I learned how to wire frame and organize a site before jumping into code and why it's so important to do so. Then of course turn a wire framE and ideas into code. Its very obviously poorly optimized performance wise, realizing how bad the performance was on the site after completion taught me how important it is to pay attention to the performance. </div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="https://btace13.github.io/TexasHomePainting/" target="_blank">Texas Home Painting Services</a></div>
                <div class="year">2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Local Business</div>
                <div class="description">Shortly after attending the San Antonio Coding Academy i was asked to help with a site for a local business, in doing so i learned how to work with a team for the first time and the struggles of git. This was the first client that I've had to interact with and it was great experience to have so that I could help prepare for future client interactions.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="https://askarcell-5aef6.firebaseapp.com/#!/" target="_blank">Ask Arcell</a></div>
                <div class="year">2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">My first full stack app</div>
                <div class="description">This web app is more of an inside joke between me and my friends, figured I'd use the joke to make my first full stack website. So the technologies I decided used to create this site was a Javascript framework called VueJs and Google's Firebase. This was my first time using VueJs as the front-end framework. VueJs allowed me to make dynamic pages, hook up a database, and authorization so that people can make and log in to their own accounts. Google's Firebase was a huge part of this project, this was also the first time really using it. Firebase was the database, authorization, and hosting for this project. After reading the docs what feels like a thousand times, finally was able to hook up everything. My first fullstack app was born!</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="https://btace13.github.io/LCM-BarberShop/" target="_blank">LCM Barbor Shop</a></div>
                <div class="year">2016</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Made a site for my barbor</div>
                <div class="description">I noticed that my local barber didn't have a website. I went ahead made them a site that they could share and give out their information out easier. Made sure the site was mobile friendly because I knew most people were going to view it on their phones. Shortly after they went out of business so the site wasn't able to get used much.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="https://btace13.github.io/AGDesign/" target="_blank">AG Design</a></div>
                <div class="year">2017</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Graphic Designer</div>
                <div class="description">This site was for a local graphic designer that wanted to market his services more. He knew exactly what kind of site he wanted. He linked me a few sites that he wanted his to look like in terms of design, he really likes parallaxing images(so do i). The client loved it and i'm currently waiting on the purchase of the domain name.</div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="http://inspiredsalonbycarolyn.com/" target="_blank">Inspired Salon By Carolyn</a></div>
                <div class="year">2017</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Salon for His and Hers</div>
                <div class="description">On this project i created a more modern looking, faster site then the site she had previous. Using a static site generator i was able to take the layout that the client wanted and make it fluid and quick. Previously the client had two different sites depending on if you're viewing from a mobile device or a desktop. I converted it to one responsive site whiched helped tremendously with speed. The main thing i learned from this project was how to transfer a domain and customizing the thumbnail once the site is shared.</div>
              </div>
            </div>
		 <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><a href="http://soltreesa.com/" target="_blank">Sol Tree Services</a></div>
                <div class="year">2017</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">San Antonio Tree Services</div>
                <div class="description">I worked with a local tree services company to create a clean, to the point website to drive customers to contact him, i used Jekyll on this project and included a form and a 3rd party chat widget so that customer could message him at any time.</div>
              </div>
            </div>
          </div>
        </div>
		
