       <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experience</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Freelancing</div>
                <div class="year">2016-2018</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Web Designer / Web Developer</div>
                <div class="description">
                  I'm responsible for designing, coding and modifying client's website, from layout to function according to thier specifications.
                </div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where">Land On Earth</div>
                <div class="year">2017-2018</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Front End Web Developer</div>
                <div class="description">
                  I became the Front-End Developer at a startup company. The job was a contract job but i learned so much and became a stronger programmer. There we worked in ReactJS, turning my HTML mock ups into a working web app.
                </div>
              </div>
            </div>
            <div class="job clearfix">
                <div class="col-xs-3">
                  <div class="where">San Antonio VIA Transit Codeathon</div>
                  <div class="year">2018</div>
                </div>
                <div class="col-xs-9">
                  <div class="profession">Front End Web Developer</div>
                  <div class="description">
                    I participated in the San Anotonio VIA Transit Codeathon. We had 48 Hours to come up with a solution to a set of problems VIA set out for us. Me and my team came up with a web app that allows your to create a reminder that notifies you when your bus is going to arrive at your bus stop. It would call or text you when its time and any delays that might occur.
                  </div>
                </div>
              </div>
        </div>
		
